# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual Environment
venv/
backend/venv/

# Environment Variables
.env

# VS Code
.vscode/

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# Python Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
dist/
build/

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# Docker
*.tar

# Node
node_modules/

# React
frontend/node_modules/

# IDE
.idea/

# Temporary
*.tmp